* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /*border-box will keeps h and w while adding border and padding, default is content-box adding to total w and h*/
}

body {
  height: 100vh;
  /*vh=viewpoint height - 100 percent of available height of webpage*/
  background: #060ab2;
}

img {
  width: 100px;
}
