* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /*border-box will keeps h and w while adding border and padding, default is content-box adding to total w and h*/
}

body {
  height: 100vh;
  /*vh=viewpoint height - 100 percent of available height of webpage*/
  display: flex;
  background: #060ab2;
}

.header {
  height: 60px;
  width: 100%;
  background: #1c7ccc;
  display: flex;
  padding: 20px;
  border-radius: 4px;
  margin: 4px;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: white;
}

.memory-game {
  width: 640px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.memory-card {
  width: calc(25% - 10px);
  /*calc to subtract margin*/
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  /* relative to parrent*/
  border-radius: 5px;
  background: #1c7ccc;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}
